*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Cascadia", sans-serif;
    src: url(./Fonts/CascadiaMono-Regular.ttf);
}
body{
    font-family: "Cascadia", sans-serif;
    background-image: url(./Images/bg.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
}
.toDoApp{
    max-width: 600px;
    color: white;
    border-radius: 20px; 
    box-shadow: 4px 11px 16px 0px rgba(255, 255, 255, 0.541);
    border: 3px solid  rgb(167, 34, 144);
}
.inputArea input{
    border: none;
    outline: none;
    background-color: rgb(202, 90, 183);
    color: white;
}
::placeholder{
    color: rgba(255, 255, 255, 0.445);
}
.btn-plus{
    background-color: rgb(202, 90, 183);
    width: 50px;
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
}
.btn-plus:hover{
 background-color: rgb(167, 34, 144);   
}
ul{
    list-style: none;
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 350px;
    ::-webkit-scrollbar{
        width: 2px;
    }
}
#taskList{
    padding: 10px;
}

#taskiList ul li::-webkit-scrollbar{
    display: block;
}
#taskList li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(178, 97, 164, 0.614);
    border-radius: 4px;
    padding: 10px 20px;
    font-size: larger;
}
#taskList li:hover{
    box-shadow: 0px 13px 13px -4px rgba(245,157,221,0.75);
}
#taskList li span{
    margin-left: 10px;
    text-wrap: break-word;
}
#taskList li.completed span{
    text-decoration: 2px black;
    color: black;
}
.task-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}
.task-buttons button{
    background-color: rgb(167, 34, 144);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.task-buttons .edit-btn{
    background-color: rgb(118, 118, 2);
}
.edit-btn:hover{
    background-color: rgb(167, 34, 144);   
}
.task-buttons .dlt-btn{
    background-color: rgba(255, 0, 0, 0.539);
}
.dlt-btn:hover{
    background-color: rgb(167, 34, 144);   
} 
